footer.footer
    hr
    p This site uses cookies for analytics and preferences. To get to know more visit our #[a(href="/cookie") Cookie Policy]  
    p •
    p &copy; #{new Date().getFullYear()} Made by Milo Regnard and Mathieu de Vriese  