header.header
    a(href='/', class = "header__logo") EventLink
    nav.header__nav
        ul
            li: a(href='/profile', class = "") Admin Panel
            li: a(href='/cookie', class = "") Cookie Policy
            li: a(href='/login', class = "") Login

    //- This could be a search button we could add later
    .header__button
        button Logout
