header.header
    a.header__logo(href='/')
        img(src="/img/EventLinkLogo.png", alt="EventLink logo")
        
    button.header__toggle(type='button' aria-label='Toggle menu')
        span
        span
        span

    nav.header__nav
        ul
            li: a(href='/profile', class = "") Profile
            li: a(href='/cookie', class = "") Cookie Policy
            li: a(href='/profile', class = "") Login
