extends userLayout

block content 
    a(href="/profile") &larr; Back
    .admin-title
        h2 Add an event

    form(action="/createevent", method="POST")

        label(for="title") Title of your event
        input(type="text", placeholder="Event title", name="title", required)

        label(for="location") Location of your event
        input(type="text", placeholder="Location of your event", name="location", required)
        
        - const today = new Date().toISOString().split('T')[0]

        label(for="date") Date of your event
        input(type="date", placeholder="Date of your event", name="date", min=today , required)

        //- TODO add extra categories        
        label(for="targetAudience") What is the target audience of your event?
        select(name="targetAudience", required)
            option(value="Students") Students
            option(value="Childeren") Childeren
            option(value="Adults") Adults
            option(value="Other") Other 


        label(for="ticketPrice") What is the ticket price of your event?
        input(type="number", placeholder="Ticket price of your event", name="ticketPrice",min="0", step="0.01", required)

        label(for="promoURL") Upload a youtube URL to your promotion video (optional)
        input(type="url", placeholder="Enter youtube URL", name="promoURL")

        label(for="title") Description of your event
        textarea(name="description", placeholder="Give a description of your event. This way people know what they should expect" cols="50", rows="10", required)
        br
        br
        input.btn-submit(type="submit", value="Add event") 