extends layout
block content
    h1 404 Page not found
    h2 Oops something is not right... 
    br 
    | Use the navbar at the top to navigate back to EventLink!
    br
    br
    br
    img(src='https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGJia212N3Z2ZWR2bW90azEwZnYxaXhuamI2OWo1bjF0MW81amF5eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5Zesu5VPNGJlm/giphy.gif')