doctype html
html
  head
    meta(charset = 'UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title EventLink
    //-link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='/css/Raddy_Tutorial_CSS_File.css')
    link(rel='stylesheet', href='/node_modules/vanilla-cookieconsent/dist/cookieconsent.css')
    script(src="/node_modules/vanilla-cookieconsent/dist/cookieconsent.umd.js")
    script(src='/js/consent.js')
    script(src='/js/script.js', type='text/javascript')
    link(rel="shortcut icon", href="/img/EventLinkLogo.png", type="image/x-icon")

    //- This is added to be able to use the share buttons
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/shareon@2.7.0/dist/shareon.min.css")
    script(src="https://cdn.jsdelivr.net/npm/shareon@2.7.0/dist/shareon.iife.min.js", defer, init)
    script(src='/js/hamburger.js', type='text/javascript')
    //- The imports for the map
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js")
    script(src="/js/map.js", defer) 


  body
    //- This is a search bar function we could add it here or maybe below the title in the main text 
      include partials/search.pug
    .container
      //-
        Here we are including the header file to always display
        the same way on all the pages
      include partials/header.pug

      //- This is the main content (actual body) of the page that we are looking at 
      main.main
        block content

        
      
      //-
        Here we are including the footer file to always display
        the same way on all the pages
      include partials/footer.pug

