extends layout

block content
    h3 Sign in

    if error 
        p(style="color: red;") #{error}

    form(action="/login", method="post")
        label(for="username") Email:
        input(type="email", name="email", placeholder = "Enter email")

        label(for="username") Password:
        input(type="password", name="password", placeholder = "Enter password")

        input.btn(type="submit", value="Login")
        p or #[a(href="/register") register] instead

        