extends layout

block content

    form
        input(type="text", placeholder = "Username")
        input(type="password", name="password", placeholder = "Password")
        button.btn(type="submit") Login